
body {
    margin:0;
    font-family: "Ubuntu";
    line-height: 1.7;
    padding: 0;
    color:#414547;
}

html {
    margin:0;
    padding:0;
}

/* nav */

nav {
    display: flex;
    height: 17.5vh;
    background-color: #1a1a1d;
    justify-content: space-between;
}

.logo {
    /* border:white 2px solid; */
    width:auto;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo img {
    width:290px;
    padding: 15px;
    padding-left:25px;
    position: absolute;
}

nav div {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    /* border: white solid 2px; */
}

.navbar {
    display: flex;
    gap: 30px;
    /* padding:20px; */
    justify-content: space-around;
    /* border:white solid 2px; */
    align-items: center;
}

.icon {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    /* gap:-10; */
    margin-top: 10px;
}

.icon img {
    width:4.5vw;
}

.icon p {
    color:white;
    font-family: "Ubuntu";
    font-size: 14px;
}

/* fin nav */

/* header */

header {
    background-color: #334d5c;
    height:36vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0px;
}

.logo-header {
    /* border:white solid 2px; */
    flex:1;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right:200px;
    height:100%;
}

.logo-header img {
    width:190px;
    /* border:white solid 2px; */
}

.textes-header {
    /* border: white solid 2px; */
    flex:2.5;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .textes-header div:first-of-type {
    /* padding-top: 10px; */
    /* border: white 2px solid; */
    /* margin-bottom: 0px;
    padding-bottom: 0px; */
} 

h1 {
    font-family: "Ubuntu";
    font-size: 65px;
    color:white;
    font-weight: 350;
    margin-bottom: -10px;
    padding-bottom: 0;
    /* margin-top:-1px; */
    /* border: white solid 2px; */
}

h3 {
    font-family: "Ubuntu";
    font-size: 40px;
    font-weight: 400;
    color:white;
    /* border: white solid 2px; */
    padding-top: 0;
    margin-top:0;
}

/* fin header */

/* section 1 */

.section1 {
    padding-top:20px;
    height: 54.5vh;
    padding-bottom:20px;
}

.section1 .titre-type1 {
    display: flex;
    justify-content: center;
}

.section1 .titre-type1 h2 {
    font-size: 54px;
    padding-left:65px;
    padding-right:65px;
    background-color: #334d5c;
    color:white;
    font-weight: 400;
}

.section1-partie2 {
    display: flex;
    padding: 0;
    margin:0;
}

.section1-partie2 .img-type1 {
    width:33vw;
    display: flex;
    justify-content: end;
    align-items: start;
    height: 28vh;
    padding-top:20px;
    /* border: solid rgb(0, 0, 0) 2px; */
}

.section1-partie2 .img-type1 img {
    height: 30vh;
}

.section1-partie2 .p-type1 {
    display: flex;
    align-items: start;
    display: flex;
    align-items: start;
    /* border:solid rgb(0, 0, 0) 2px; */
    padding-left: 175px;
    margin:0;
    /* width: 100; */
}

.section1-partie2 .p-type1 p {
    font-size: 20px;
    font-weight: 400;
    margin:0;
    width:41vw;
    /* margin: 30px; */
    /* margin-right:160px; */
    /* border:solid black 2px; */
}

br {
    font-size: 200%;
    display: block;
    content: "";
    margin:15px;
}

/* fin section 1 */

/* Section 2 */

.section2 {
    background-color: #eae3d6;
    display: flex;
    justify-content: center;
    /* gap: 6vw; */
    padding-top:40px;
    padding-bottom: 30px;
    /* flex-wrap: wrap; */
}

.section2 div {
    /* border: solid black 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width:11vw;
    height:18.5vh;
    margin-left:41px;
    margin-right: 41px;
}

.section2 div img {
    /* border: solid black 2px; */
    width: 6.5vw;
}

.section2 div p {
    /* border: solid black 2px; */
    font-size: 17px;
}

/* Fin section 2 */

/* Section 3 */

.presection3 {
    background-color: #eae3d6;
    display: flex;
    justify-content: center;
    padding-top:50px;
    padding-bottom: 30px;
}

.section3 {
    background-color: #eae3d6;
    display: flex;
    justify-content: center;
    /* gap: 6vw; */
    max-width: 70vw;
    flex-wrap: wrap;
    /* border: black solid 1px; */
}

.section3 div {
    /* border: solid black 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:11vw;
    height:18.5vh;
    margin-left:41px;
    margin-right: 41px;
}

.section3 div img {
    /* border: solid black 2px; */
    width: 6.5vw;
}

.section3 div p {
    /* border: solid black 2px; */
    font-size: 17px;
    justify-content: center;
}

/* Fin section 3 */

/* Footer */

footer {
    background-color: #393a3b;
}

.footer-1 {
    background-color: #393a3b;
    display: flex;
    justify-content: center;
    margin: 0;
}

.footer-1 .packs {
    display: flex;
    gap: 25px;
    margin:0;
    padding-top:30px;
}

.footer-1 .packs img {
    width: 4vw;
}

.footer-1 p {
    margin:0;
    color:white;
    font-weight: 500;
}

.footer-icons {
    padding-left: 90px;
    padding-right: 90px;
    padding-top:30px;
    padding-bottom: 20px;
}

.footer-2 {
    background-color: #393a3b;
}

footer .copy p {
    color:whitesmoke;
    font-size: 12px;
    margin: 0px;
    text-align: end;
    padding-right: 15px;
    padding-bottom: 20px;
}

/* Fin footer */