
body {
    margin:0px;
    font-family: "Ubuntu";
    line-height: 1.6;
}

/* nav */

nav {
    display: flex;
    height: 12.5vh;
    background-color: #1a1a1d;
    justify-content: space-between;
}

.logo {
    /* border:white 2px solid; */
    width:auto;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo img {
    width:230px;
    padding: 10px;
    position: absolute;
}

nav div {
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    /* border: white solid 2px; */
}

.navbar {
    display: flex;
    gap: 15px;
    padding:10px;
    justify-content: space-around;
    /* border:white solid 2px; */
    align-items: center;
}

.icon {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 8.3vh;
    gap:-10;
}

.icon img {
    width:3vw;
}

.icon p {
    color:white;
    font-family: "Ubuntu";
    font-size: 12px;
}

/* fin nav */

/* header */

header {
    background-color: #334d5c;
    height:26vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:60px;
}

.logo-header {
    /* border:white solid 2px; */
    flex:1;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left:130px;
    height:100%;
}

.logo-header img {
    width:150px;
    /* border:white solid 2px; */
}

.textes-header {
    /* border: white solid 2px; */
    flex:1.5;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .textes-header div:first-of-type {
    /* padding-top: 10px; */
    /* border: white 2px solid; */
    /* margin-bottom: 0px;
    padding-bottom: 0px; */
} 

h1 {
    font-family: "Ubuntu";
    font-size: 40px;
    color:white;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3 {
    font-family: "Ubuntu";
    font-size: 25px;
    font-weight: 400;
    color:white;
    /* border: white solid 2px; */
    padding-top: 0;
    margin-top: 0;
}

/* fin header */

/* section 1 */

.section1-partie2 {
    border: solid rgb(0, 0, 0) 2px;
    display: flex;
    gap:20px;
}

.section1-partie2 .img-type1 {
    flex:1;
    border:black 1px solid;
    display: flex;
    justify-content: end;
}

.section1-partie2 .p-type1 {
    flex:1;
    border:black 1px solid;

}

.section1-partie2 .p-type1 p {
    font-size: 15px;
    border: solid black 1px;
    margin: 30px;
    margin-right:160px;
}

/* fin section 1 */