
body {
    margin:0px;
    font-family: "Ubuntu";
    line-height: 1.6;
}

/* nav */

nav {
    display: flex;
    height: 18vh;
    background-color: #1a1a1d;
    justify-content: space-between;
}

.logo {
    /* border:white 2px solid; */
    width:auto;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo img {
    width:320px;
    padding: 15px;
    position: absolute;
}

nav div {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    /* border: white solid 2px; */
}

.navbar {
    display: flex;
    gap: 30px;
    /* padding:20px; */
    justify-content: space-around;
    /* border:white solid 2px; */
    align-items: center;
}

.icon {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    /* gap:-10; */
    margin-top: 10px;
}

.icon img {
    width:5vw;
}

.icon p {
    color:white;
    font-family: "Ubuntu";
    font-size: 12px;
}

/* fin nav */

/* header */

header {
    background-color: #334d5c;
    height:36vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:80px;
}

.logo-header {
    /* border:white solid 2px; */
    flex:1;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right:100px;
    height:100%;
}

.logo-header img {
    width:230px;
    /* border:white solid 2px; */
}

.textes-header {
    /* border: white solid 2px; */
    flex:2.5;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .textes-header div:first-of-type {
    /* padding-top: 10px; */
    /* border: white 2px solid; */
    /* margin-bottom: 0px;
    padding-bottom: 0px; */
} 

h1 {
    font-family: "Ubuntu";
    font-size: 60px;
    color:white;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
    /* border: white solid 2px; */
}

h3 {
    font-family: "Ubuntu";
    font-size: 40px;
    font-weight: 400;
    color:white;
    /* border: white solid 2px; */
    padding-top: 0;
    margin-top: 0;
}

/* fin header */

/* section 1 */

.section1 {
    padding-top:20px;
    /* height: 55vh; */
}

.section1 .titre-type1 {
    display: flex;
    justify-content: center;
}

.section1 .titre-type1 h2 {
    font-size: 60px;
    padding-left:65px;
    padding-right:65px;
    background-color: #334d5c;
    color:white;
    font-weight: 400;
}

.section1-partie2 {
    display: flex;
    padding: 0;
    margin:0;
}

.section1-partie2 .img-type1 {
    width:35vw;
    display: flex;
    justify-content: end;
    align-items: start;
    height: 28vh;
    padding-top:20px;
    border: solid rgb(0, 0, 0) 2px;
}

.section1-partie2 .img-type1 img {
    height: 30vh;
}

.section1-partie2 .p-type1 {
    width:38vw;
    display: flex;
    align-items: start;
    display: flex;
    align-items: start;
    border:solid rgb(0, 0, 0) 2px;
    padding-left: 130px;
}

.section1-partie2 .p-type1 p {
    font-size: 18px;
    font-weight: 400;
    /* margin: 30px; */
    /* margin-right:160px; */
}

br {
    font-size: 200%;
    display: block;
    content: "";
    margin:10px;
}

/* fin section 1 */

/* Section 2 */

.section2 {
    background-color: #eae3d6;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section2 div {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:5vw;
}

.section2 div img {
    border: solid black 2px;
    width: 5vw;
}

.section2 div p {
    border: solid black 2px;
}

/* Fin section 2 */